*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.inputControls{
    margin: 20px;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.inputControls label{
    margin-right: 10px;
}