*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.inputControls{
    margin: 20px;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.inputControls label{
    margin-right: 10px;
}

.inputControls input{
    margin-right: 20px;
    padding: 5px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

button{
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}

button:hover{
    background-color: #ddd;
}

#liftSystem{
    display: flex;
    gap: 40px;
}

.floor{
    height: 100px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}